

* {
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif
 }
/* area do cabesalio */


.logo {
    display: flex;
    float: left; 
}

.tamlogo {
    width: 150px;
    height: 180px;

}

body {
    background: #e6e6e6;
   
}

/*.flexivel {
    display: flex;
}
*/
h1 {
    padding: 60px;
    text-align: center;
    margin: 0 auto;
}

nav {
    clear: both;
    margin: 10px auto;

}

header {
    background-color:#bdd3d1;
}

.menu {
    text-align: center;
    padding: 15px;
    
}

nav a  {
    margin: 10px;
    background-color: white;
    padding: 10px;
    border-radius: 5px;
    text-decoration: none;
    color: #576e6c;
    

}

nav a:hover {
    color: white;
    background-color: #576e6c;
}

/* area principal */

.tamimgcorpo {
    width: 350px;
    height: 450px;
    margin: 30px;

    
}

.texto {
    margin: 30px auto;
    width: 1000px;
    text-align: center;
}

.divmain {
    background:
}

/* area rodape */

footer {
    background-color: #bdd3d1;
    text-align: center;
}

@media only screen and (max-width: 375px) {
    h1 {
        font-size: 1em;
        
    }

    header {
        
        margin: center;

    }

    .tamimgcorpo {
        
        width: 300px;
        height: 350px;
    }

    .texto {
        margin: auto;
        width: 360px;
    }
}

@media only screen and (max-width: 1024px) {
    .tamimgcorpo {
        margin: 70px;
        
    }
}

@media only screen and (max-width: 1280px) {
    p {
        font-size: 1.5em;
    }
}


